html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: url(./assets/money.png) no-repeat center center fixed;
  background-size: cover;
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    overflow-y: auto;
  }
}
